<footer class="page-footer teal accent-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <div class="row">
                    <div class="col s2 right-align">
                        <i class="material-icons typography--display1">location_on</i>
                    </div>
                    <div class="col s10">
                        <span class="typography--body2 typography--relaxed">
                            Deogiri Institute of Engineering and Management Studies, Aurangabad
                        </span>
                    </div>
                </div>
                <div class="center-align">
                    <span class="typography--title">Quasars on Social Media.</span>
                    <div class="social-links">
                        <a href="{{ site.facebook_url }}" target="_blank">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                        <a href="{{ site.instagram_url }}" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 center-align">
                <ul>
                    <li>
                        <a href="{{ '/participate' | relative_url}}">Participate.</a>
                    </li>
                    <li>
                        <a href="{{ '/#' | relative_url}}">Code Of Conduct.</a>
                    </li>
                    <li>
                        <a href="{{ '/#' | relative_url}}">Contact.</a>
                    </li>
                    <li>
                        <a href="{{ '/#' | relative_url}}">Sponsors.</a>
                    </li>
                    <li>
                        <a href="http://dietms.org">DIEMS Website.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="left typography--caption">
                <i class="material-icons" style="font-size: 1.4rem; vertical-align: middle;">code</i>
                by
                <a href="http://deshmukhmayur.com">Mayur Deshmukh</a>.
            </div>
            <div class="right typography--caption">
                &copy; 2018 DIEMS<span class="hide-on-small-only">, Aurangabad</span>.
            </div>
        </div>
    </div>
</footer>

<div id="scroll-top" class="fixed-action-btn hide">
    <a class="btn-floating btn-large waves-effect waves-dark white">
        <i class="material-icons black-text">keyboard_arrow_up</i>
    </a>
</div>